// JourneyMap 설정 파일. 수정시 위험은 본인이 감수하시기 바랍니다!
// 모든 월드에서 사용하시려면 이곳에 넣어주세요: journeymap\config\5.7\
// /, go to: http://journeymap.info/Options_Manager
{
  "managerEnabled": "true",
  "beaconEnabled": "true",
  "showTexture": "true",
  "showStaticBeam": "true",
  "showRotatingBeam": "true",
  "showName": "true",
  "showDistance": "true",
  "autoHideLabel": "true",
  "boldLabel": "false",
  "fontScale": "2",
  "textureSmall": "true",
  "maxDistance": "0",
  "minDistance": "4",
  "createDeathpoints": "false",
  "autoRemoveDeathpoints": "false",
  "autoRemoveDeathpointDistance": "2",
  "showDeathpointlabel": "true",
  "teleportCommand": "/tp {name} {x} {y} {z}",
  "dateFormat": "MM-dd-yyyy",
  "timeFormat": "HH:mm:ss",
  "configVersion": "5.7.1"
}